<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test</title>
</head>
<body>
    <h1>Terv Kids</h1><br>
    <h3>Reset Password</h3>
    <form action="" method="POST">
        <label for="password">Password</label>
        <input type="password" name="password" id="password">
        <br />
        <label for="password">Confirm Password</label>
        <input type="password" name="password2" id="password">
        <br/>
        <input type="submit" value="reset password">
    </form>
</body>
</html>